/**
 * This is _about.scss
 */

section#about {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.9);
    overflow: hidden;
    #about-image {
        margin: 30px auto 15px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        overflow: hidden;
        -webkit-box-shadow: 0 0 6px rgba(59, 37, 239,0.8);
        box-shadow: 0 0 6px rgba(59, 37, 239,0.8);
        .profile-image {
            width: 100%;
        }
    }
    #about-title {
        font-size: 40px;
        line-height: 1;
    }
    #about-content {
        padding: 15px 20%;
        font-size: 20px;
    }
}
