div#connect-title {
    position: relative;
    width: 100%;
    height: 50px;
    top: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
}

#social-list {
	list-style-type:none;
	font-size: 35px;
}

#social-list a {
	text-decoration:none;
	color: #fff;
}