/**
 * This is _pricing.scss
 */

section#pricing {
	position: fixed;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	display: block;
	z-index: 10;
	background: rgba(0,0,0,0.9);
	overflow: hidden;
	#pricing-title {
		font-size: 30px;
	}
	#pricing-content {
		position: relative;
		text-align: center;
		padding: 15px; 
		width: 95%;
		margin: 140px auto;
		.pricing-tables {
			display: inline-block;
			width: 22%;
			background: #1f1f20;
			border-radius: 5px;
			padding: 10px;
			-webkit-transition: all ease-in-out .2s; /* Safari */
  		transition: all ease-in-out .2s;
			&:hover {
				background: #141315;
			}
			.ptable-header {
				font-size: 22px;
				font-weight: bold;
				padding-bottom: 5px;
				border-bottom: 2px solid #1b1a1d;
			}
			.ptable-price {
				padding-top: 5px;
				color: red;
				font-size:20px;
			}	
			.ptable-content {
				padding-top:10px;
				ul.package-list {
						line-height: 25px;
				    padding: 8px 0 15px 60px;
				    text-align: left;
				}
			}
			.cta-btn {
				padding:25px;
			}
			a.btn {
				background: rgba(211,211,211,.6);
				padding: 10px 15px;
				color: #fff;
				text-decoration:none;
				border-radius:2px;
				&:hover {
					text-decoration:none;
					background: rgba(109,109,109,.6);
				}
			}
		}
	}

}