/**
 * This is _pricing.scss
 */

section#pricing {
	position: fixed;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	display: block;
	z-index: 10;
	background: rgba(0,0,0,0.9);
	overflow: hidden;
	#pricing-content {
		position: relative;
		text-align: center;
		padding: 15px; 
		width: 75%;
		margin: 15px auto;
		.pricing-tables {
			display: inline-block;
			width: 32.3%;
			.ptable-content {
				ul.package-list {
				    list-style: none;
				    padding: 8px 0 15px 75px;
				    text-align: left;
				}
			}
		}
	}

}